<%- include('header'); -%>
  <div class="container">
    <form class="input-group mb-3 mx-5 mt-5" action="/add-item" method="post">
      <input class="text-center" type="text" placeholder="Add Task" name="title" autocomplete="OFF" required />
      <button class="btn btn-outline-dark btn-lg text-light" type="submit">Add</button>
    </form>
  </div>